body{
    font-family: Arial;
    text-align:center;
    background:#111;
    color:white;
}

button{
    padding:15px 25px;
    margin:15px;
    font-size:18px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#00ffcc;
    color:black;
}